.learning-path {
  display: flex;
  background: #07352F;
  border-radius: 20px;
  overflow: hidden;
width: 99%;
  margin: 50px auto;
  color: white;
}

.display-none {
  background: transparent;
  color: #07352F;
}

.list-item li{
  padding: 10px 0;
}

/* LEFT SECTION */
.left {
  padding: 60px;
  flex: 1;
}

.left h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 700;
}

.left p {
  font-size: 20px;
  max-width: 550px;
  line-height: 1.5;
}

.start-btn {
  margin-top: 40px;
  padding: 14px 35px;
  font-size: 20px;
  background: #FF6A00;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* RIGHT SECTION */
.right {
  position: relative;
  flex: 1.2;
  overflow: hidden;
}

.right img {
  width: 100%;
  height: 100%;
}

/* DIAGONAL CUT */
.right {
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
}

/* ----------- RESPONSIVE ----------- */
@media (max-width: 900px) {

  .learning-path {
    flex-direction: column;
    border-radius: 0;
  }

  .right {
    display: none;   /* HIDE IMAGE */
  }

  .left {
    padding: 40px 20px;
  }

  .left h2 {
    font-size: 32px;
  }

  .left p {
    font-size: 18px;
  }

  .start-btn {
    padding: 12px 28px;
    font-size: 18px;
  }
}
