
:root {
  --color-text-dark: #002b3e;
  --color-light: #ffffff;
}


.container {
 width: 97%;
margin: 20px auto;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

/* ---------- FILTER BUTTONS ---------- */
.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.filter {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 14px;
}

.filter:hover {
  background: var(--color-text-dark);
  color: white;
  border-color: var(--color-text-dark);
}

.filter.active {
  background: var(--color-text-dark);
  color: white;
  border-color: var(--color-text-dark);
}

/* ---------- CARDS ---------- */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 6px;
  background: white;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
  margin: 10px 0 5px;
}

.tag {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 10px;
  background: #f2f2f2;
  font-size: 12px;
  border-radius: 6px;
}

/* -------- RESPONSIVE (<900px) -------- */
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
  }

  .filter {
    display: flex;
    width: 100%;
  }
}